.bdicon {
  font-family: "bdicon";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bdicon-data-ads:before {
  content: "\E001";
}
.bdicon-data-all:before {
  content: "\E002";
}
.bdicon-data-one:before {
  content: "\E003";
}
.bdicon-data-three:before {
  content: "\E004";
}
.bdicon-data-two:before {
  content: "\E005";
}
.bdicon-data-website:before {
  content: "\E006";
}
.bdicon-chart-distribution:before {
  content: "\E007";
}
.bdicon-chart-graph:before {
  content: "\E008";
}
.bdicon-chart-histogram:before {
  content: "\E009";
}
.bdicon-chart-pie:before {
  content: "\E00A";
}
.bdicon-chart-trend:before {
  content: "\E00B";
}
.bdicon-chart-distribution:before {
  content: "\E00C";
}
.bdicon-chart-graph:before {
  content: "\E00D";
}
.bdicon-chart-histogram:before {
  content: "\E00E";
}
.bdicon-chart-pie:before {
  content: "\E00F";
}
.bdicon-chart-trend:before {
  content: "\E010";
}
.bdicon-chart-distribution:before {
  content: "\E011";
}
.bdicon-chart-graph:before {
  content: "\E012";
}
.bdicon-chart-histogram:before {
  content: "\E013";
}
.bdicon-chart-pie:before {
  content: "\E014";
}
.bdicon-chart-trend:before {
  content: "\E015";
}
.bdicon-refresh:before {
  content: "\E016";
}
.bdicon-region:before {
  content: "\E017";
}
.bdicon-reverse:before {
  content: "\E018";
}
.bdicon-delete:before {
  content: "\E019";
}
.bdicon-new:before {
  content: "\E01A";
}
.bdicon-baidu-logo:before {
  content: "\E01B";
}
.bdicon-age:before {
  content: "\E01C";
}
.bdicon-refresh:before {
  content: "\E01D";
}
.bdicon-search:before {
  content: "\E01E";
}
.bdicon-setting:before {
  content: "\E01F";
}
.bdicon-user:before {
  content: "\E020";
}
.bdicon-view:before {
  content: "\E021";
}
.bdicon-mail:before {
  content: "\E022";
}
.bdicon-upload:before {
  content: "\E024";
}
.bdicon-order:before {
  content: "\E025";
}
.bdicon-new:before {
  content: "\E026";
}
.bdicon-access-network:before {
  content: "\E027";
}
.bdicon-calendar:before {
  content: "\E028";
}
.bdicon-nav-expend:before {
  content: "\E029";
}
.bdicon-nav-expend:before {
  content: "\E02A";
}
.bdicon-nav-collapse:before {
  content: "\E02B";
}
.bdicon-more-app:before {
  content: "\E02C";
}
.bdicon-baidu-chart-distribution:before {
  content: "\E02D";
}
