.esf-clearfix {
    .clearfix();
}

// less mixin doesn't support variable.
.esf-disabled {
    .opacity(40);
    cursor: not-allowed !important;
}

// mixins
.esf-list-unstyled() {
    padding-left: 0;
    .reset-list-style;
}

.esf-transition(@transition) {
    
}

.esf-transition(@transition) when (@esf-enable-transition-effect) {
    .transition(@transition);
}

// sizes
.@{esf-class-prefix}-x-small {
    font-size: @esf-x-small-font-size !important;
}

.@{esf-class-prefix}-small {
    font-size: @esf-small-font-size !important;
}

.@{esf-class-prefix}-medium {
    font-size: @esf-medium-font-size !important;
}

.@{esf-class-prefix}-large {
    font-size: @esf-large-font-size !important;
}

.@{esf-class-prefix}-x-large {
    font-size: @esf-x-large-font-size !important;
}

.@{esf-class-prefix}-xx-large {
    font-size: @esf-xx-large-font-size !important;
}

.@{esf-class-prefix}-xxx-large {
    font-size: @esf-xxx-large-font-size !important;
}