[hidden] {
    display: none !important;
}

.@{esf-class-prefix}-base {
    font-size: @esf-base-font-size !important;
}

.@{esf-class-prefix}-mini {
    font-size: @esf-mini-font-size !important;
}

.@{esf-class-prefix}-small {
    font-size: @esf-small-font-size !important;
}

.@{esf-class-prefix}-large {
    font-size: @esf-large-font-size !important;
}

.@{esf-class-prefix}-big {
    font-size: @esf-big-font-size !important;
}

.@{esf-class-prefix}-huge {
    font-size: @esf-huge-font-size !important;
}

.@{esf-class-prefix}-massive {
    font-size: @esf-massive-font-size !important;
}

[disabled],
.@{esf-class-prefix}-disabled {
    .esf-disabled;
}

.esf-list-unstyled() {
    padding-left: 0;
    .reset-list-style;
}

.esf-disabled() {
    .opacity(40);
    cursor: not-allowed !important;
}