
// font-size
@esf-mini-font-size: @esf-base-font-size * 0.75; // 12px
@esf-small-font-size: @esf-base-font-size * 0.875; // 14px
@esf-base-font-size: unit(@default-font-size, px); // 16px
@esf-large-font-size: @esf-base-font-size * 1.125; // 18px
@esf-big-font-size: @esf-base-font-size * 1.25; // 20px
@esf-huge-font-size: @esf-base-font-size * 1.375; // 22px
@esf-massive-font-size: @esf-base-font-size * 1.5; // 24px

@esf-class-prefix: ui;